.header {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
}
.footer {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}
#main [class*='col-md-8'] {
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}
#main [class*='col-md-2'] {
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}
